.kozijnisolatie-widget {
  border: 1px dashed black;

  .svg-canvas {
    background-color: $gray;
    width: 900px;
    height: 400px;
  }

  .door {
    fill: red;
    stroke-width: 3;
    stroke: black;

    &.item-1 {
      fill: green;
    }

    &.item-2 {
      fill: blue;
    }
  }

  .dragger {
    opacity: .1;
    fill: black;

    &-horizontal {
      cursor: row-resize;
    }

    &-vertical {
      cursor: col-resize;
    }

    &:hover {
      opacity: .5;
    }
  }
}
